@mixin flex-row($justify: flex-start) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@mixin button-blue {
    color: white;
    background-color: #4880FF;
    border-radius: 15px;
    border: 1px solid #979797;
    font-family: Nunito;
    font-size: 14.5px;
    
    width: 6rem;
    height: 2.5rem;
    
    &:hover {
        cursor: pointer;
        background-color: #5084fde4;
        transition: 0.2s;
    }
}


@mixin select-style {
    font-family: Nunito;
    font-size: 15px;
    border-radius: 8px;
    height: 70%;
    width: 50%;
    border: 1px solid transparent;
    outline: 2px solid #e0e0e0;
    color: #828282;
    option {
        color: black;
    }
}

.dataentry-wrapper {
    background-color: #fff;
    width: 40%;
    height: 60%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 24% 20% 25% 18%;
    column-gap: 2%;
    grid-template-rows: repeat(8, 10%) 10.14%;
    row-gap: 2.5%;

    input {
        border-radius: 10px;
        border: 1px solid #979797;
        padding-left: 0.5rem;
        font-family: Nunito;

    }

    button {
        border-radius: 10px;
        border: 1px solid black;

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1);

        }
    }
    
    h1 {
        grid-column: 1/5;
        grid-row: 1;
    }

    .dataentry-text-row-1 {
        @include flex-row(flex-end);
        grid-column: 1;
        grid-row: 2;
    }
    .dataentry-text-row-2-mes {
        @include flex-row(flex-end);
        grid-column: 2;
        grid-row: 2;
    }
    
    .dataentry-text-row-2-cat {
        @include flex-row(flex-end);
        grid-column: 1;
        grid-row: 3;
    }

    .dataentry-text-row-3 {
        @include flex-row(flex-end);
        grid-column: 1;
        grid-row: 4;
    }

    .dataentry-text-row-4 {
        @include flex-row(flex-end);
        grid-column: 1;
        grid-row: 5;
    }

    .dataentry-text-row-5 {
        @include flex-row(flex-end);
        grid-column: 1;
        grid-row: 6;
    }

    .dataentry-text-row-5-iva {
        @include flex-row(flex-start);
        grid-column: 3;
        grid-row: 6;
        input {
            margin-left: 1rem;
        }
    }
    .dataentry-div-row-5 {
        width: 100%;
        justify-content: space-around;
        display: flex;
        align-items: center;
        flex-direction: row;
        grid-column: 4;
        grid-row: 6;

    }
    
    .dataentry-text-row-6 {
        @include flex-row(flex-end);
        grid-column: 1;
        grid-row: 7;
    }
    .dataentry-text-row-6-valor {
        @include flex-row(flex-start);
        grid-column: 3;
        grid-row: 7;
        input {
            margin-left: 1rem;
            height: 70%;
            width: 30%; 
        }
    }
    .dataentry-text-row-7 {
        grid-column: 3/4;
        grid-row: 5;
        @include flex-row(flex-start);
        .dataentry-input-row-7 {

            height: 70%;
            width: 30%; 
            margin-left: 1rem;
        }
    }



    .dataentry-input-row-1-wrapper {
        grid-column: 2;
        grid-row: 2;
        @include flex-row(flex-start);
        .dataentry-input-row-1 {
            height: 70%;
            width: 50%;
        }

    }
    .dataentry-input-row-2-mes-wrapper {
        grid-column: 3;
        grid-row: 2;
        @include flex-row(flex-start);
        .dataentry-input-row-2-mes { //select
            // height: 70%;
            // width: 50%;
            @include select-style();
        }

    }

    .dataentry-input-row-2-cat-wrapper {
        grid-column: 2;
        grid-row: 3;
        @include flex-row(flex-start);
        .dataentry-input-row-2-cat { //select
            @include select-style();
            width: 100%;
        }

    }

    .dataentry-input-row-3-wrapper {
        grid-column: 2;
        grid-row: 4;
        @include flex-row(flex-start);
        .dataentry-input-row-3 {
            @include select-style();
            width: 100%;            
        }
    }


    @mixin dataentry-row($grid-row) {
        grid-column: 2;
        grid-row: $grid-row;
        @include flex-row(flex-start);
      
        input {
            height: 70%;
            width: 50%;
        }
    }

    .dataentry-input-row-4-wrapper {
        @include dataentry-row(5);
    }
    
    .dataentry-input-row-5-wrapper {
        @include dataentry-row(6);
    }
    
    .dataentry-input-row-6-wrapper {
        @include dataentry-row(7);
    }

    .dataentry-input-row-6-valor-wrapper {
        grid-column: 3;
        grid-row: 7;
        @include flex-row(flex-end);        
        .dataentry-input-row-6-valor {
            height: 70%;
            width: 30%; 
        }

    }

    .dataentry-input-row-7-wrapper {
        grid-column: 3;
        grid-row: 5;
        @include flex-row(flex-end);
        .dataentry-input-row-7 {
            height: 70%;
            width: 30%; 
            // margin-right: 1rem;
        }

    }


    .dataentry-text-row-2-button-wrapper, .dataentry-text-row-3-button-wrapper {
        grid-column: 3;
        @include flex-row(flex-start);
        button {
            @include button-blue();
            height: 80%;
            width: 70%;

        }
    }
    .dataentry-text-row-2-button-wrapper {
        grid-row: 3;
    }


    .dataentry-text-row-3-button-wrapper {
        grid-row: 4;
    }


    .dataentry-accept-button-wrapper, .dataentry-cancel-button-wrapper, .dataentry-exit-button-wrapper {
        grid-row: 8;
        button {
            height: 2rem;
            width: 4.5rem;
            @include button-blue();
        }

    }

    .dataentry-accept-button-wrapper {
        grid-column: 2;
        @include flex-row(flex-end);
        // button {
        //     background-color: rgb(16, 192, 16);
        //     &:hover {
        //         background-color: rgba(16, 192, 16, 0.75);

        //     }
        // }
    }

    .dataentry-cancel-button-wrapper {
        grid-column: 3;
        @include flex-row(flex-start);
    }
    .dataentry-exit-button-wrapper {
        grid-column: 4;
        @include flex-row(flex-start);
        button {
            background-color: red;
            &:hover {
                background-color: rgba(255, 0, 0, 0.744);
            }
        }
    }


    @media (max-width: 478px) {
        width: 85%;
        height: 75%;
        padding: 1rem;
        column-gap: 2%;
        grid-template-columns: 25% 35% 35% 0%;
        grid-template-rows: repeat(7, 10%) 10.14%;
        
        
        .dataentry-text-row-1, .dataentry-text-row-2-cat, .dataentry-text-row-3 {
            @include flex-row(flex-start);
        }
        
        .dataentry-text-row-2-button-wrapper, .dataentry-input-row-2-mes-wrapper, .dataentry-text-row-3-button-wrapper {
            @include flex-row(center);
            button, .dataentry-input-row-2-mes {
                height: 80%;
                width: 90%;
            }
        }
        @for $i from 4 through 6 {
            .dataentry-input-row-#{$i}-wrapper {
              input {
                height: 70%;
                width: 70%;
              }
            }
        }

        .dataentry-text-row-7 {
            // @include flex-row(flex-end);
            .dataentry-input-row-7 {
                height: 70%;
                width: 75%; 
                // margin-left: 0.5rem;
            }
        }
    }

    @media (max-width: 767px) {
    }

    @media (max-width: 991px) {
    }

    // @media (max-width: 1280px) { Esta es la base

    // }
    @media (max-width: 1440px) {
    }

    @media (max-width: 1920px) {
    }

    @media (min-width: 1921px) {
        
    }
}
