@mixin flex-row($justify: flex-start) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}


.dataentry-wrapper {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 40%;
    height: 60%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 24% 20% 25% 18%;
    column-gap: 2%;
    grid-template-rows: repeat(8, 10%) 10.14%;
    row-gap: 2.5%;

    h1 {
        grid-column: 1/5;
        grid-row: 1;
    }
    .dataentry-text-row-1 {
        @include flex-row(flex-end);
        grid-column: 1;
        grid-row: 2;
    }
    .dataentry-text-row-2-mes {
        @include flex-row(flex-end);
        grid-column: 2;
        grid-row: 2;
    }
    
    .dataentry-text-row-2-cat {
        @include flex-row(flex-end);
        grid-column: 1;
        grid-row: 3;
    }

    .dataentry-text-row-3 {
        @include flex-row(flex-end);
        grid-column: 1;
        grid-row: 4;
    }

    .dataentry-text-row-4 {
        @include flex-row(flex-end);
        grid-column: 1;
        grid-row: 5;
    }

    .dataentry-text-row-5 {
        @include flex-row(flex-end);
        grid-column: 1;
        grid-row: 6;
    }

    .dataentry-text-row-5-iva {
        @include flex-row(flex-start);
        grid-column: 3;
        grid-row: 6;
        input {
            margin-left: 1rem;
        }
    }
    .dataentry-div-row-5 {
        width: 100%;
        justify-content: space-around;
        display: flex;
        align-items: center;
        flex-direction: row;
        grid-column: 4;
        grid-row: 6;

    }
    
    .dataentry-text-row-6 {
        @include flex-row(flex-end);
        grid-column: 1;
        grid-row: 7;
    }
    .dataentry-text-row-6-valor {
        @include flex-row(flex-start);
        grid-column: 3;
        grid-row: 7;
        input {
            margin-left: 1rem;
            height: 70%;
            width: 30%; 
        }
    }
    .dataentry-text-row-7 {
        grid-column: 3/4;
        grid-row: 5;
        @include flex-row(flex-start);
        .dataentry-input-row-7 {
            height: 70%;
            width: 30%; 
            margin-left: 1rem;
        }
    }



    .dataentry-input-row-1-wrapper {
        grid-column: 2;
        grid-row: 2;
        @include flex-row(flex-start);
        .dataentry-input-row-1 {
            height: 70%;
            width: 50%;
        }

    }
    .dataentry-input-row-2-mes-wrapper {
        grid-column: 3;
        grid-row: 2;
        @include flex-row(flex-start);
        .dataentry-input-row-2-mes {
            height: 70%;
            width: 50%;
        }

    }

    .dataentry-input-row-2-cat-wrapper {
        grid-column: 2;
        grid-row: 3;
        @include flex-row(flex-start);
        .dataentry-input-row-2-cat {
            height: 70%;
            width: 100%;
        }

    }

    .dataentry-input-row-3-wrapper {
        grid-column: 2;
        grid-row: 4;
        @include flex-row(flex-start);
        .dataentry-input-row-3 {
            height: 70%;
            width: 100%;            
        }
    }


    .dataentry-input-row-4-wrapper {
        grid-column: 2;
        grid-row: 5;
        @include flex-row(flex-start);

        .dataentry-input-row-4 {
            height: 70%;
            width: 50%;            
        }

    }

    .dataentry-input-row-5-wrapper {
        grid-column: 2;
        grid-row: 6;
        @include flex-row(flex-start);        
        .dataentry-input-row-5 {
            height: 70%;
            width: 50%;            
        }
    }

    .dataentry-input-row-6-wrapper {
        grid-column: 2;
        grid-row: 7;
        @include flex-row(flex-start);        
        .dataentry-input-row-6 {
            height: 70%;
            width: 50%; 
        }
    }

    .dataentry-input-row-6-valor-wrapper {
        grid-column: 3;
        grid-row: 7;
        @include flex-row(flex-end);        
        .dataentry-input-row-6-valor {
            height: 70%;
            width: 30%; 
        }

    }

    .dataentry-input-row-7-wrapper {
        grid-column: 3;
        grid-row: 5;
        @include flex-row(flex-end);
        .dataentry-input-row-7 {
            height: 70%;
            width: 30%; 
            // margin-right: 1rem;
        }

    }


    .dataentry-text-row-2-button-wrapper, .dataentry-text-row-3-button-wrapper {
        grid-column: 3;
        @include flex-row(flex-start);
        button {
            height: 80%;
            width: 70%;

        }
    }
    .dataentry-text-row-2-button-wrapper {
        grid-row: 3;
    }


    .dataentry-text-row-3-button-wrapper {
        grid-row: 4;
    }


.dataentry-accept-button-wrapper, .dataentry-cancel-button-wrapper {
    grid-row: 8;
    button {
        height: 2rem;
        width: 4.5rem;
    }

}

.dataentry-accept-button-wrapper {
    grid-column: 2;
    @include flex-row(flex-end);
}

.dataentry-cancel-button-wrapper {
    grid-column: 3;
    @include flex-row(flex-start);
}
}
