.layoutside-wrapper {
    background-color: white;
    position: fixed;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    
    //esto cambia con los media queries
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    right: 86%;
    width: 14%;
    top: 0;
    bottom: 0;
    height: 100vh;

    .layoutside-svg-1-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 5%;
        height: 15%;
        .layoutside-svg-1 {
            width: 70%;
        }

    }


    @media (max-width: 478px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        right: 0;
        width: 100%;
        top: 90%;
        height: 10%;
        //de repente haga un menu de hamburguesa

        .layoutside-svg-1-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 5%;
            // height: 1%;
            display: none;
            .layoutside-svg-1 {
                display: none;
                // width: 70%;
                // height: 100%;
            }

        }
    
    }

    @media (max-width: 767px) {
    }

    @media (max-width: 991px) {
    }

    // @media (max-width: 1280px) { Esta es la base
    //     // padding: 8px 16px;
    //     // font-size: 14px;
    // }
    @media (max-width: 1440px) {
    }

    @media (max-width: 1920px) {
    }

    @media (min-width: 1921px) {
        
    }
}