* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F6FA;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
.dataentry-wrapper {
  background-color: #fff;
  width: 40%;
  height: 60%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 24% 20% 25% 18%;
  -moz-column-gap: 2%;
       column-gap: 2%;
  grid-template-rows: repeat(8, 10%) 10.14%;
  row-gap: 2.5%;
}
.dataentry-wrapper input {
  border-radius: 10px;
  border: 1px solid #979797;
  padding-left: 0.5rem;
  font-family: Nunito;
}
.dataentry-wrapper button {
  border-radius: 10px;
  border: 1px solid black;
}
.dataentry-wrapper button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.dataentry-wrapper h1 {
  grid-column: 1/5;
  grid-row: 1;
}
.dataentry-wrapper .dataentry-text-row-1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 1;
  grid-row: 2;
}
.dataentry-wrapper .dataentry-text-row-2-mes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 2;
  grid-row: 2;
}
.dataentry-wrapper .dataentry-text-row-2-cat {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 1;
  grid-row: 3;
}
.dataentry-wrapper .dataentry-text-row-3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 1;
  grid-row: 4;
}
.dataentry-wrapper .dataentry-text-row-4 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 1;
  grid-row: 5;
}
.dataentry-wrapper .dataentry-text-row-5 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 1;
  grid-row: 6;
}
.dataentry-wrapper .dataentry-text-row-5-iva {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: 3;
  grid-row: 6;
}
.dataentry-wrapper .dataentry-text-row-5-iva input {
  margin-left: 1rem;
}
.dataentry-wrapper .dataentry-div-row-5 {
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: row;
  grid-column: 4;
  grid-row: 6;
}
.dataentry-wrapper .dataentry-text-row-6 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 1;
  grid-row: 7;
}
.dataentry-wrapper .dataentry-text-row-6-valor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: 3;
  grid-row: 7;
}
.dataentry-wrapper .dataentry-text-row-6-valor input {
  margin-left: 1rem;
  height: 70%;
  width: 30%;
}
.dataentry-wrapper .dataentry-text-row-7 {
  grid-column: 3/4;
  grid-row: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataentry-wrapper .dataentry-text-row-7 .dataentry-input-row-7 {
  height: 70%;
  width: 30%;
  margin-left: 1rem;
}
.dataentry-wrapper .dataentry-input-row-1-wrapper {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataentry-wrapper .dataentry-input-row-1-wrapper .dataentry-input-row-1 {
  height: 70%;
  width: 50%;
}
.dataentry-wrapper .dataentry-input-row-2-mes-wrapper {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataentry-wrapper .dataentry-input-row-2-mes-wrapper .dataentry-input-row-2-mes {
  font-family: Nunito;
  font-size: 15px;
  border-radius: 8px;
  height: 70%;
  width: 50%;
  border: 1px solid transparent;
  outline: 2px solid #e0e0e0;
  color: #828282;
}
.dataentry-wrapper .dataentry-input-row-2-mes-wrapper .dataentry-input-row-2-mes option {
  color: black;
}
.dataentry-wrapper .dataentry-input-row-2-cat-wrapper {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataentry-wrapper .dataentry-input-row-2-cat-wrapper .dataentry-input-row-2-cat {
  font-family: Nunito;
  font-size: 15px;
  border-radius: 8px;
  height: 70%;
  width: 50%;
  border: 1px solid transparent;
  outline: 2px solid #e0e0e0;
  color: #828282;
  width: 100%;
}
.dataentry-wrapper .dataentry-input-row-2-cat-wrapper .dataentry-input-row-2-cat option {
  color: black;
}
.dataentry-wrapper .dataentry-input-row-3-wrapper {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataentry-wrapper .dataentry-input-row-3-wrapper .dataentry-input-row-3 {
  font-family: Nunito;
  font-size: 15px;
  border-radius: 8px;
  height: 70%;
  width: 50%;
  border: 1px solid transparent;
  outline: 2px solid #e0e0e0;
  color: #828282;
  width: 100%;
}
.dataentry-wrapper .dataentry-input-row-3-wrapper .dataentry-input-row-3 option {
  color: black;
}
.dataentry-wrapper .dataentry-input-row-4-wrapper {
  grid-column: 2;
  grid-row: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataentry-wrapper .dataentry-input-row-4-wrapper input {
  height: 70%;
  width: 50%;
}
.dataentry-wrapper .dataentry-input-row-5-wrapper {
  grid-column: 2;
  grid-row: 6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataentry-wrapper .dataentry-input-row-5-wrapper input {
  height: 70%;
  width: 50%;
}
.dataentry-wrapper .dataentry-input-row-6-wrapper {
  grid-column: 2;
  grid-row: 7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataentry-wrapper .dataentry-input-row-6-wrapper input {
  height: 70%;
  width: 50%;
}
.dataentry-wrapper .dataentry-input-row-6-valor-wrapper {
  grid-column: 3;
  grid-row: 7;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dataentry-wrapper .dataentry-input-row-6-valor-wrapper .dataentry-input-row-6-valor {
  height: 70%;
  width: 30%;
}
.dataentry-wrapper .dataentry-input-row-7-wrapper {
  grid-column: 3;
  grid-row: 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dataentry-wrapper .dataentry-input-row-7-wrapper .dataentry-input-row-7 {
  height: 70%;
  width: 30%;
}
.dataentry-wrapper .dataentry-text-row-2-button-wrapper, .dataentry-wrapper .dataentry-text-row-3-button-wrapper {
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataentry-wrapper .dataentry-text-row-2-button-wrapper button, .dataentry-wrapper .dataentry-text-row-3-button-wrapper button {
  color: white;
  background-color: #4880FF;
  border-radius: 15px;
  border: 1px solid #979797;
  font-family: Nunito;
  font-size: 14.5px;
  width: 6rem;
  height: 2.5rem;
  height: 80%;
  width: 70%;
}
.dataentry-wrapper .dataentry-text-row-2-button-wrapper button:hover, .dataentry-wrapper .dataentry-text-row-3-button-wrapper button:hover {
  cursor: pointer;
  background-color: rgba(80, 132, 253, 0.8941176471);
  transition: 0.2s;
}
.dataentry-wrapper .dataentry-text-row-2-button-wrapper {
  grid-row: 3;
}
.dataentry-wrapper .dataentry-text-row-3-button-wrapper {
  grid-row: 4;
}
.dataentry-wrapper .dataentry-accept-button-wrapper, .dataentry-wrapper .dataentry-cancel-button-wrapper, .dataentry-wrapper .dataentry-exit-button-wrapper {
  grid-row: 8;
}
.dataentry-wrapper .dataentry-accept-button-wrapper button, .dataentry-wrapper .dataentry-cancel-button-wrapper button, .dataentry-wrapper .dataentry-exit-button-wrapper button {
  height: 2rem;
  width: 4.5rem;
  color: white;
  background-color: #4880FF;
  border-radius: 15px;
  border: 1px solid #979797;
  font-family: Nunito;
  font-size: 14.5px;
  width: 6rem;
  height: 2.5rem;
}
.dataentry-wrapper .dataentry-accept-button-wrapper button:hover, .dataentry-wrapper .dataentry-cancel-button-wrapper button:hover, .dataentry-wrapper .dataentry-exit-button-wrapper button:hover {
  cursor: pointer;
  background-color: rgba(80, 132, 253, 0.8941176471);
  transition: 0.2s;
}
.dataentry-wrapper .dataentry-accept-button-wrapper {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dataentry-wrapper .dataentry-cancel-button-wrapper {
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataentry-wrapper .dataentry-exit-button-wrapper {
  grid-column: 4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataentry-wrapper .dataentry-exit-button-wrapper button {
  background-color: red;
}
.dataentry-wrapper .dataentry-exit-button-wrapper button:hover {
  background-color: rgba(255, 0, 0, 0.744);
}
@media (max-width: 478px) {
  .dataentry-wrapper {
    width: 85%;
    height: 75%;
    padding: 1rem;
    -moz-column-gap: 2%;
         column-gap: 2%;
    grid-template-columns: 25% 35% 35% 0%;
    grid-template-rows: repeat(7, 10%) 10.14%;
  }
  .dataentry-wrapper .dataentry-text-row-1, .dataentry-wrapper .dataentry-text-row-2-cat, .dataentry-wrapper .dataentry-text-row-3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .dataentry-wrapper .dataentry-text-row-2-button-wrapper, .dataentry-wrapper .dataentry-input-row-2-mes-wrapper, .dataentry-wrapper .dataentry-text-row-3-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dataentry-wrapper .dataentry-text-row-2-button-wrapper button, .dataentry-wrapper .dataentry-text-row-2-button-wrapper .dataentry-input-row-2-mes, .dataentry-wrapper .dataentry-input-row-2-mes-wrapper button, .dataentry-wrapper .dataentry-input-row-2-mes-wrapper .dataentry-input-row-2-mes, .dataentry-wrapper .dataentry-text-row-3-button-wrapper button, .dataentry-wrapper .dataentry-text-row-3-button-wrapper .dataentry-input-row-2-mes {
    height: 80%;
    width: 90%;
  }
  .dataentry-wrapper .dataentry-input-row-4-wrapper input {
    height: 70%;
    width: 70%;
  }
  .dataentry-wrapper .dataentry-input-row-5-wrapper input {
    height: 70%;
    width: 70%;
  }
  .dataentry-wrapper .dataentry-input-row-6-wrapper input {
    height: 70%;
    width: 70%;
  }
  .dataentry-wrapper .dataentry-text-row-7 .dataentry-input-row-7 {
    height: 70%;
    width: 75%;
  }
}
.setup-wrapper {
  border: 1px solid black;
  position: absolute;
  top: 10%;
  left: 20%;
  width: 25%;
  height: 60%;
  padding: 1rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  -moz-column-gap: 10%;
       column-gap: 10%;
}
.setup-wrapper input {
  height: 50%;
  border-radius: 10px;
  border: 1px solid black;
}
.setup-wrapper .setup-h1-row-1 {
  grid-column: 1/3;
  grid-row: 1;
}
.setup-wrapper .setup-name-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  grid-column: 1;
  grid-row: 2;
}
.setup-wrapper .setup-name-wrapper p {
  margin: 0 1rem 1rem 0;
}
.setup-wrapper .setup-name-wrapper input {
  width: 80%;
  padding-left: 0.5rem;
}
.setup-wrapper .setup-year-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  grid-column: 2;
  grid-row: 2;
}
.setup-wrapper .setup-year-wrapper p {
  margin: 0 0 1rem 0.5rem;
}
.setup-wrapper .setup-year-wrapper input {
  padding-left: 0.5rem;
  width: 50%;
}
.setup-wrapper .setup-iva-p-wrapper {
  grid-row: 3;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.setup-wrapper .setup-iva-input-wrapper {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.setup-wrapper .setup-iva-input-wrapper input {
  height: 50%;
  width: 50%;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 0.5rem;
}
.setup-wrapper .setup-rec-p-wrapper {
  grid-row: 4;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.setup-wrapper .setup-rec-input-wrapper {
  grid-row: 4;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.setup-wrapper .setup-rec-input-wrapper input {
  height: 50%;
  width: 50%;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 0.5rem;
}
.setup-wrapper .setup-sign-p-wrapper {
  grid-row: 5;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.setup-wrapper .setup-sign-input-wrapper {
  grid-row: 5;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.setup-wrapper .setup-sign-input-wrapper select {
  height: 50%;
  width: 50%;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 0.5rem;
}
.setup-wrapper .setup-accept-button {
  grid-column: 1;
  grid-row: 6;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.setup-wrapper .setup-accept-button button {
  width: 60%;
  height: 50%;
  border-radius: 10px;
  border: 1px solid black;
}
.setup-wrapper .setup-accept-button button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.setup-wrapper .setup-cancel-button {
  grid-column: 2;
  grid-row: 6;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.setup-wrapper .setup-cancel-button input {
  height: 50%;
  width: 50%;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 0.5rem;
}
.setup-wrapper .setup-cancel-button button {
  width: 60%;
  height: 50%;
  border-radius: 10px;
  border: 1px solid black;
}
.setup-wrapper .setup-cancel-button button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.costsentry-wrapper {
  background-color: #fff;
  width: 30%;
  height: 70%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr 6fr 1fr;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 5%;
       column-gap: 5%;
  row-gap: 2%;
}
.costsentry-wrapper h1 {
  grid-column: 1/3;
}
.costsentry-wrapper .costsentry-button-wrapper {
  grid-column: 2;
  grid-row: 2;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.costsentry-wrapper .costsentry-button-wrapper button {
  margin: 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
  width: 50%;
  height: 50%;
}
.costsentry-wrapper .costsentry-button-wrapper button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.costsentry-wrapper .costsentry-table-wrapper {
  grid-column: 1/3;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 5%;
       column-gap: 5%;
  row-gap: 2.5%;
  margin: 1rem 0;
  padding: 1rem 0;
  border: 1px solid black;
  border-radius: 10px;
}
.costsentry-wrapper .costsentry-table-wrapper .costsentry-table-p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.costsentry-wrapper .costsentry-table-wrapper .costsentry-table-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.costsentry-wrapper .costsentry-table-wrapper .costsentry-table-input input {
  padding-left: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
  width: 40%;
  height: 85%;
}
.costsentry-wrapper .costsentry-accept-button-wrapper {
  justify-content: flex-end;
  grid-column: 1;
  grid-row: 4;
  display: flex;
  align-items: center;
}
.costsentry-wrapper .costsentry-accept-button-wrapper button {
  border-radius: 10px;
  border: 1px solid black;
  width: 30%;
  height: 50%;
}
.costsentry-wrapper .costsentry-accept-button-wrapper button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.costsentry-wrapper .costsentry-cancel-button-wrapper {
  justify-content: flex-start;
  grid-column: 2;
  grid-row: 4;
  display: flex;
  align-items: center;
}
.costsentry-wrapper .costsentry-cancel-button-wrapper button {
  border-radius: 10px;
  border: 1px solid black;
  width: 30%;
  height: 50%;
}
.costsentry-wrapper .costsentry-cancel-button-wrapper button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.costsentry-wrapper .costsentry-exit-button-wrapper {
  justify-content: flex-end;
  margin-left: 5rem;
  grid-column: 2;
  grid-row: 4;
  display: flex;
  align-items: center;
}
.costsentry-wrapper .costsentry-exit-button-wrapper button {
  border-radius: 10px;
  border: 1px solid black;
  width: 30%;
  height: 50%;
}
.costsentry-wrapper .costsentry-exit-button-wrapper button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
@media (max-width: 478px) {
  .costsentry-wrapper {
    width: 85%;
    height: 75%;
    padding: 1rem;
    grid-template-rows: 1fr 1fr 9fr 1fr;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 5%;
         column-gap: 5%;
    row-gap: 2%;
  }
  .costsentry-wrapper .costsentry-button-wrapper {
    border: none;
  }
  .costsentry-wrapper .costsentry-button-wrapper button {
    margin: 0.5rem;
    width: 80%;
    height: 90%;
  }
  .costsentry-wrapper .costsentry-table-wrapper {
    grid-template-columns: 2fr 1fr;
    -moz-column-gap: 5%;
         column-gap: 5%;
    row-gap: 2.5%;
    margin: 0;
    padding: 0.75rem 0;
    height: 100%;
  }
  .costsentry-wrapper .costsentry-table-wrapper .costsentry-table-input input, .costsentry-wrapper .costsentry-table-wrapper .costsentry-table-input select {
    width: 80%;
    border-radius: 10px;
    height: 95%;
  }
  .costsentry-wrapper .costsentry-accept-button-wrapper button, .costsentry-wrapper .costsentry-cancel-button-wrapper button {
    width: 40%;
    height: 100%;
  }
  .costsentry-wrapper .costsentry-exit-button-wrapper {
    margin-left: 5rem;
  }
  .costsentry-wrapper .costsentry-exit-button-wrapper button {
    width: 70%;
    height: 100%;
  }
}
.layoutside-wrapper {
  background-color: white;
  position: fixed;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  right: 86%;
  width: 14%;
  top: 0;
  bottom: 0;
  height: 100vh;
}
.layoutside-wrapper .layoutside-svg-1-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5%;
  height: 15%;
}
.layoutside-wrapper .layoutside-svg-1-wrapper .layoutside-svg-1 {
  width: 70%;
}
@media (max-width: 478px) {
  .layoutside-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    right: 0;
    width: 100%;
    top: 90%;
    height: 10%;
  }
  .layoutside-wrapper .layoutside-svg-1-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5%;
    display: none;
  }
  .layoutside-wrapper .layoutside-svg-1-wrapper .layoutside-svg-1 {
    display: none;
  }
}
.layoutside-svg-wrapper, .layoutside-svg-wrapper-active {
  display: grid;
  grid-template-columns: 15% 85%;
  width: 100%;
  height: 7%;
  gap: 1rem;
  padding-left: 3rem;
}
.layoutside-svg-wrapper .layoutside-svg-container, .layoutside-svg-wrapper-active .layoutside-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layoutside-svg-wrapper .layoutside-svg-container .layoutside-svg, .layoutside-svg-wrapper-active .layoutside-svg-container .layoutside-svg {
  grid-column: 1;
  width: 100%;
  height: 55%;
}
.layoutside-svg-wrapper .layoutside-p, .layoutside-svg-wrapper-active .layoutside-p {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.layoutside-svg-wrapper .layoutside-p p, .layoutside-svg-wrapper-active .layoutside-p p {
  font-family: Nunito;
  font-size: 17px;
  letter-spacing: 0.3px;
}
@media (max-width: 478px) {
  .layoutside-svg-wrapper, .layoutside-svg-wrapper-active {
    width: 100%;
    height: 100%;
    padding-left: 0;
    display: block;
  }
  .layoutside-svg-wrapper .layoutside-svg-container, .layoutside-svg-wrapper-active .layoutside-svg-container {
    width: 100%;
    height: 100%;
  }
  .layoutside-svg-wrapper .layoutside-svg-container .layoutside-svg, .layoutside-svg-wrapper-active .layoutside-svg-container .layoutside-svg {
    width: 100%;
  }
  .layoutside-svg-wrapper .layoutside-p, .layoutside-svg-wrapper-active .layoutside-p {
    display: none;
  }
}
.layoutside-svg-wrapper:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.layoutside-svg-wrapper-active {
  background-color: #4880FF;
}
.layoutside-svg-wrapper-active .layoutside-p p {
  color: white;
}
.layoutside-svg-wrapper-active:hover {
  background-color: rgba(80, 132, 253, 0.8941176471);
  cursor: pointer;
}

.costs-wrapper {
  font-family: Nunito;
  border-top: 1px solid black;
  margin: 5% 0 0 14%;
  padding: 2rem 0 4rem 2rem;
  height: 100%;
}
.costs-wrapper h2 {
  font-size: 40px;
}
.costs-wrapper .costs-add-button {
  margin: 1rem;
  color: white;
  background-color: #4880FF;
  width: 12rem;
  height: 2.5rem;
  border-radius: 15px;
  border: 1px solid #979797;
  font-family: Nunito;
  font-size: 16px;
}
.costs-wrapper .costs-add-button:hover {
  cursor: pointer;
  background-color: rgba(80, 132, 253, 0.8941176471);
  transition: 0.2s;
}
.costs-wrapper .costs-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.costs-wrapper .costs-table-wrapper img {
  width: 5%;
}
.costs-wrapper .costs-table-wrapper .costs-table {
  width: 97.5%;
  border-radius: 10px !important;
  border: 0.4px solid #B9B9B9;
  border-collapse: separate;
  background-color: #FFFFFF;
  border-spacing: 0;
  font-family: "Nunito";
}
.costs-wrapper .costs-table-wrapper .costs-table thead {
  text-align: center;
}
.costs-wrapper .costs-table-wrapper .costs-table thead tr th {
  font-weight: bold;
  padding: 0.85rem 2rem;
  border-bottom: 0.6px solid rgba(213, 213, 213, 0.616);
}
.costs-wrapper .costs-table-wrapper .costs-table tbody {
  background-color: #FFFFFF;
}
.costs-wrapper .costs-table-wrapper .costs-table tbody tr td {
  border: none;
  border-bottom: 0.4px solid rgba(151, 151, 151, 0.467);
  text-align: center;
}
.costs-wrapper .costs-table-wrapper .costs-table tbody tr td .buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.costs-wrapper .costs-table-wrapper .costs-table tbody tr td .buttons-wrapper .delete-button, .costs-wrapper .costs-table-wrapper .costs-table tbody tr td .buttons-wrapper .update-button {
  width: 40%;
}
.costs-wrapper .costs-table-wrapper .costs-table tbody tr td .buttons-wrapper .delete-button:hover {
  cursor: pointer;
  fill: rgb(255, 0, 0);
}
.costs-wrapper .costs-table-wrapper .costs-table tbody tr td .buttons-wrapper .update-button:hover {
  cursor: pointer;
  fill: gray;
}
.costs-wrapper .costs-table-wrapper .costs-table tbody tr td .buttons-wrapper:last-child {
  padding: 0;
  padding-right: 1rem;
}
.costs-wrapper .costs-table-wrapper .costs-table tbody tr:last-child td {
  border-bottom: none;
  border-radius: 10px !important;
}
.costs-wrapper .costs-modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 478px) {
  .costs-wrapper {
    padding: 1rem 1rem 4rem 1rem;
    margin: 3% 0 0 0;
    border-top: none;
    height: 100%;
  }
  .costs-wrapper .costs-add-button {
    color: white;
    background-color: #4880FF;
    width: 12rem;
    height: 2.5rem;
    border-radius: 15px;
    border: 1px solid #979797;
    font-family: Nunito;
    font-size: 16px;
    width: 9.5rem;
    height: 3.5rem;
    margin: 2rem;
  }
  .costs-wrapper .costs-add-button:hover {
    cursor: pointer;
    background-color: rgba(80, 132, 253, 0.8941176471);
    transition: 0.2s;
  }
  .costs-wrapper .costs-table {
    width: 100%;
    font-size: 15px;
    margin-bottom: 3rem;
  }
  .costs-wrapper .costs-table .noshow {
    display: none;
  }
  .costs-wrapper .costs-table thead {
    text-align: center;
  }
  .costs-wrapper .costs-table thead tr th {
    font-weight: bold;
    padding: 1rem 0rem;
    border-bottom: 0.6px solid rgba(213, 213, 213, 0.616);
  }
  .costs-wrapper .costs-table tbody {
    background-color: #FFFFFF;
  }
  .costs-wrapper .costs-table tbody tr td {
    padding: 1rem;
    border: none;
    border-bottom: 0.4px solid rgba(151, 151, 151, 0.467);
    text-align: center;
  }
  .costs-wrapper .costs-table tbody tr td .buttons-wrapper .more-button {
    color: white;
    background-color: #4880FF;
    width: 12rem;
    height: 2.5rem;
    border-radius: 15px;
    border: 1px solid #979797;
    font-family: Nunito;
    font-size: 16px;
    font-size: 14px;
    width: 3.5rem;
    height: 2rem;
    border: 0.1px solid rgba(151, 151, 151, 0.4823529412);
  }
  .costs-wrapper .costs-table tbody tr td .buttons-wrapper .more-button:hover {
    cursor: pointer;
    background-color: rgba(80, 132, 253, 0.8941176471);
    transition: 0.2s;
  }
  .costs-wrapper .costs-table tbody tr:last-child td {
    border-bottom: none;
    border-radius: 10px !important;
  }
}
.informes-wrapper {
  border-top: 1px solid black;
  margin-top: 5%;
  margin-left: 14%;
  padding-left: 2rem;
  padding-top: 2rem;
  font-family: Nunito;
  padding-bottom: 4rem;
  height: 100%;
}
.informes-wrapper h2 {
  font-size: 40px;
}
.informes-wrapper .informes-add-button {
  margin: 1rem;
  color: white;
  background-color: #4880FF;
  width: 12rem;
  height: 2.5rem;
  border-radius: 15px;
  border: 1px solid #979797;
  font-family: Nunito;
  font-size: 16px;
}
.informes-wrapper .informes-add-button:hover {
  cursor: pointer;
  background-color: rgba(80, 132, 253, 0.8941176471);
  transition: 0.2s;
}
.informes-wrapper .informes-modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 478px) {
  .informes-wrapper {
    padding: 1rem 1rem 4rem 1rem;
    margin: 3% 0 0 0;
    border-top: none;
    height: 100%;
  }
}
.informescreation-wrapper {
  background-color: #fff;
  width: 25%;
  height: 30%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #979797;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  -moz-column-gap: 5%;
       column-gap: 5%;
  row-gap: 5%;
}
.informescreation-wrapper button {
  color: white;
  background-color: #4880FF;
  width: 6rem;
  height: 2.5rem;
  border-radius: 15px;
  border: 1px solid #979797;
  font-family: Nunito;
  font-size: 16px;
}
.informescreation-wrapper button:hover {
  cursor: pointer;
  background-color: rgba(80, 132, 253, 0.8941176471);
  transition: 0.2s;
}
.informescreation-wrapper h2 {
  grid-row: 1;
  grid-column: 1/3;
}
.informescreation-wrapper .informes-options-wrapper {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 7%;
  -moz-column-gap: 5%;
       column-gap: 5%;
  margin-bottom: 1rem;
}
.informescreation-wrapper .informes-options-wrapper .informes-mes-wrapper, .informescreation-wrapper .informes-options-wrapper .informes-category-wrapper {
  grid-column: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.informescreation-wrapper .informes-options-wrapper select {
  font-family: Nunito;
  font-size: 15px;
  border-radius: 8px;
  height: 100%;
  border: 1px solid transparent;
  outline: 2px solid #e0e0e0;
  color: #828282;
}
.informescreation-wrapper .informes-options-wrapper select option {
  color: black;
}
.informescreation-wrapper .informes-options-wrapper .informes-mes {
  grid-column: 2;
  grid-row: 1;
}
.informescreation-wrapper .informes-options-wrapper .informes-category {
  grid-column: 2;
  grid-row: 2;
}
.informescreation-wrapper .informescreation-accept-button-wrapper {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-content: flex-end;
}
.informescreation-wrapper .informescreation-cancel-button-wrapper {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 478px) {
  .informescreation-wrapper {
    width: 80%;
    height: 40%;
  }
}
.informesresults-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 94%;
  margin-bottom: 2rem;
  row-gap: 3rem;
}
.informesresults-wrapper-1 {
  grid-area: 1/1;
}
.informesresults-wrapper-2 {
  grid-area: 1/2;
}
.informesresults-wrapper-3 {
  grid-area: 1/3;
}
.informesresults-wrapper-4 {
  grid-area: 1/4;
}
.informesresults-wrapper-5 {
  grid-area: 1/5;
}
.informesresults-wrapper-6 {
  grid-area: 1/6;
}
.informesresults-wrapper-7 {
  grid-area: 1/7;
}
.informesresults-wrapper-8 {
  grid-area: 1/8;
}
.informesresults-wrapper-9 {
  grid-area: 1/9;
}
.informesresults-wrapper-10 {
  grid-area: 1/10;
}
.informesresults-wrapper table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  height: 20%;
}
.informesresults-wrapper table thead, .informesresults-wrapper table tr, .informesresults-wrapper table td, .informesresults-wrapper table th {
  border: 1px solid black;
  padding: 0.35rem;
}
.informesresults-wrapper div {
  border: 1px solid #000;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.informesresults-wrapper .informesresults-table {
  margin: 1rem 0;
}
.informesresults-wrapper .informesresults-table .informesresults-color-1 {
  background-color: rgb(20, 188, 20);
}
.informesresults-wrapper .informesresults-table .informesresults-color-2 {
  background-color: yellow;
}
.informesresults-wrapper .informesresults-table .informesresults-color-3 {
  background-color: red;
}

.navbar-wrapper {
  background-color: white;
  position: absolute;
  display: grid;
  grid-template-columns: 85% 15%;
  font-family: Nunito;
  left: 14.5%;
  width: 85.5%;
  height: 10%;
  top: 0;
  bottom: 0;
}
.navbar-wrapper .nav-wrapper {
  grid-column: 2;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar-wrapper .nav-wrapper .nav-profile {
  width: 20%;
  height: 50%;
  margin-right: 1rem;
}
.navbar-wrapper .nav-wrapper p {
  line-height: 1.5rem;
}
.navbar-wrapper .nav-wrapper .nav-arrow-div {
  width: 2%;
  position: absolute;
  top: 2rem;
  left: 93.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
}
.navbar-wrapper .nav-wrapper .nav-arrow-div .nav-arrow-svg {
  transition: 0.5s ease;
}
@media (max-width: 478px) {
  .navbar-wrapper {
    left: 25.25%;
    width: 100%;
    height: 10%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: blue;
    display: none;
  }
}
.filter-wrapper {
  background-color: #F9F9FA;
  border-radius: 10px;
  border: 0.3px solid #979797;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  margin-top: 2rem;
  width: 41.5%;
  height: 4rem;
}
.filter-wrapper .filter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  border-right: 0.3px solid #979797;
  white-space: nowrap;
}
.filter-wrapper .filter-div img {
  margin-left: 0.2rem;
}
.filter-wrapper .filter-div:last-child {
  border-right: none;
  color: red;
}
.filter-wrapper .filter-div:last-child p {
  margin-left: 0.2rem;
}
.filter-wrapper .filter-div:last-child:hover {
  background-color: #f4f0f0;
  border-radius: 10px;
}
.filter-wrapper .filter-div:first-child:hover {
  background-color: #f4f0f0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.filter-wrapper .filter-div:hover {
  cursor: pointer;
  background-color: #f4f0f0;
}
@media (max-width: 478px) {
  .filter-wrapper {
    margin-top: 2rem;
    width: 100%;
    height: 4rem;
  }
  .filter-wrapper .filter-div {
    margin: 0 0.1rem;
    padding: 0.5rem;
  }
  .filter-wrapper .filter-div:first-child {
    display: none;
  }
  .filter-wrapper .filter-div:last-child p {
    display: none;
  }
}
.filter-popup-wrapper {
  background-color: white;
  filter: drop-shadow(0px 4px 61px rgba(169, 169, 169, 0.366));
  font-family: Nunito;
  width: 25%;
  height: 30%;
  border-radius: 10px;
  position: absolute;
  top: 30%;
}
.filter-popup-wrapper p {
  padding: 1.5rem;
  font-weight: bold;
}
.filter-popup-wrapper button {
  width: 12rem;
  height: 2.5rem;
  border-radius: 15px;
  border: 1px solid #979797;
  background-color: white;
  font-family: Nunito;
  font-size: 16px;
}
.filter-popup-wrapper button:hover {
  cursor: pointer;
  background-color: rgba(80, 132, 253, 0.8941176471);
  transition: 0.25s;
  color: white;
}
.filter-popup-wrapper .options-wrapper {
  margin: 0.5rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.filter-popup-wrapper .options-wrapper button {
  width: 8.5rem;
}
.filter-popup-wrapper .options-wrapper .active {
  background-color: #4880FF;
  color: white;
}
.filter-popup-wrapper .filter-popup-line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0.4px;
  background-color: rgba(151, 151, 151, 0.4666666667);
  margin-top: 1rem;
}
.filter-popup-wrapper .filter-apply-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.filter-popup-wrapper .filter-apply-button-wrapper .apply-button {
  color: white;
  background-color: #4880FF;
  width: 12rem;
  height: 2.5rem;
  border-radius: 15px;
  border: 1px solid #979797;
  font-family: Nunito;
  font-size: 16px;
}
.filter-popup-wrapper .filter-apply-button-wrapper .apply-button:hover {
  cursor: pointer;
  background-color: rgba(80, 132, 253, 0.8941176471);
  transition: 0.2s;
}
@media (max-width: 478px) {
  .filter-popup-wrapper {
    width: -moz-min-content;
    width: min-content;
    height: 45%;
    top: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .filter-popup-wrapper p {
    margin-top: 1rem;
    padding: 0;
  }
  .filter-popup-wrapper .filter-popup-line {
    margin-top: 0;
  }
  .filter-popup-wrapper .options-wrapper {
    margin: 1rem;
  }
  .filter-popup-wrapper .filter-apply-button-wrapper .apply-button {
    width: 8.5rem;
  }
}
.platos-wrapper {
  border-top: 1px solid black;
  background-color: #F5F6FA;
  font-family: Nunito;
  padding: 2rem 0 4rem 2rem;
  margin: 5% 0 0 14%;
}
.platos-wrapper h2 {
  font-size: 40px;
}
.platos-wrapper .platos-add-button {
  margin: 1rem;
  color: white;
  background-color: #4880FF;
  border: 1px solid #979797;
  font-family: Nunito;
  font-size: 16px;
  width: 12rem;
  height: 2.5rem;
  border-radius: 15px;
}
.platos-wrapper .platos-add-button:hover {
  cursor: pointer;
  background-color: rgba(80, 132, 253, 0.8941176471);
  transition: 0.2s;
}
.platos-wrapper .platos-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.platos-wrapper .platos-table-wrapper img {
  width: 5%;
}
.platos-wrapper .platos-table-wrapper .platos-table {
  border-radius: 10px !important;
  border: 0.4px solid #B9B9B9;
  border-collapse: separate;
  background-color: #FCFDFD;
  border-spacing: 0;
  text-align: center;
}
.platos-wrapper .platos-table-wrapper .platos-table thead tr th {
  font-weight: bold;
  padding: 0.85rem 2rem;
  border-bottom: 0.6px solid rgba(213, 213, 213, 0.616);
}
.platos-wrapper .platos-table-wrapper .platos-table tbody {
  background-color: #FFFFFF;
}
.platos-wrapper .platos-table-wrapper .platos-table tbody tr td {
  border: none;
  border-bottom: 0.6px solid rgba(213, 213, 213, 0.616);
  padding: 0.85rem 2rem;
}
.platos-wrapper .platos-table-wrapper .platos-table tbody tr td .buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.platos-wrapper .platos-table-wrapper .platos-table tbody tr td .buttons-wrapper .delete-button, .platos-wrapper .platos-table-wrapper .platos-table tbody tr td .buttons-wrapper .update-button {
  width: 30%;
}
.platos-wrapper .platos-table-wrapper .platos-table tbody tr td .buttons-wrapper .delete-button:hover, .platos-wrapper .platos-table-wrapper .platos-table tbody tr td .buttons-wrapper .update-button:hover {
  cursor: pointer;
}
.platos-wrapper .platos-table-wrapper .platos-table tbody tr td .buttons-wrapper .delete-button:hover {
  fill: rgb(255, 0, 0);
}
.platos-wrapper .platos-table-wrapper .platos-table tbody tr td .buttons-wrapper .update-button:hover {
  fill: gray;
}
.platos-wrapper .platos-table-wrapper .platos-table tbody tr:last-child td {
  border-bottom: none;
  border-radius: 10px !important;
}
.platos-wrapper .platos-options-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.platos-wrapper .platos-options-wrapper p {
  font-weight: bold;
}
.platos-wrapper .platos-options-wrapper .platos-options-buttons-wrapper .prev-button {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.platos-wrapper .platos-options-wrapper .platos-options-buttons-wrapper .prev-button .prev-button-arrow {
  rotate: 180deg;
}
.platos-wrapper .platos-options-wrapper .platos-options-buttons-wrapper .next-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.platos-wrapper .platos-options-wrapper .platos-options-buttons-wrapper button {
  border: 1px solid #979797;
  height: 3rem;
  width: 3rem;
}
.platos-wrapper .platos-modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 478px) {
  .platos-wrapper {
    padding: 1rem 1rem 4rem 1rem;
    margin: 3% 0 0 0;
    border-top: none;
  }
  .platos-wrapper h2 {
    font-size: 40px;
  }
  .platos-wrapper .platos-add-button {
    color: white;
    background-color: #4880FF;
    border: 1px solid #979797;
    font-family: Nunito;
    font-size: 16px;
    width: 12rem;
    height: 2.5rem;
    border-radius: 15px;
    width: 9rem;
    height: 3.5rem;
    margin: 2rem;
  }
  .platos-wrapper .platos-add-button:hover {
    cursor: pointer;
    background-color: rgba(80, 132, 253, 0.8941176471);
    transition: 0.2s;
  }
  .platos-wrapper .platos-table-wrapper {
    font-size: 15px;
    width: 100%;
  }
  .platos-wrapper .platos-table-wrapper .platos-table thead tr th {
    padding: 1rem 0rem;
    font-size: 15px;
  }
  .platos-wrapper .platos-table-wrapper .platos-table .noshow {
    display: none;
  }
  .platos-wrapper .platos-table-wrapper .platos-table tbody tr td {
    padding: 1rem;
  }
  .platos-wrapper .platos-table-wrapper .platos-table tbody tr td .buttons-wrapper .more-button {
    color: white;
    background-color: #4880FF;
    border: 1px solid #979797;
    font-family: Nunito;
    font-size: 16px;
    width: 12rem;
    height: 2.5rem;
    border-radius: 15px;
    font-size: 14px;
    width: 3.5rem;
    height: 2rem;
    border: 0.1px solid rgba(151, 151, 151, 0.4823529412);
  }
  .platos-wrapper .platos-table-wrapper .platos-table tbody tr td .buttons-wrapper .more-button:hover {
    cursor: pointer;
    background-color: rgba(80, 132, 253, 0.8941176471);
    transition: 0.2s;
  }
  .platos-wrapper .platos-modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .platos-wrapper .platos-options-wrapper {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
.fecha-popup-wrapper {
  background-color: white;
  filter: drop-shadow(0px 4px 61px rgba(169, 169, 169, 0.366));
  font-family: Nunito;
  border-radius: 10px;
  position: absolute;
  display: grid;
  width: 25%;
  height: 42%;
  top: 30%;
  grid-template-rows: 17% 62% 21%;
}
.fecha-popup-wrapper p {
  padding: 1.5rem;
  font-weight: bold;
}
.fecha-popup-wrapper button {
  border-radius: 15px;
  border: 1px solid #979797;
  background-color: white;
  font-family: Nunito;
  font-size: 16px;
  width: 4rem;
  height: 2.5rem;
}
.fecha-popup-wrapper button:hover {
  cursor: pointer;
  background-color: rgba(80, 132, 253, 0.8941176471);
  transition: 0.25s;
  color: white;
}
.fecha-popup-wrapper .fecha-popup-cols-wrapper {
  display: grid;
  grid-template-columns: 24.75% 1% 24.75% 24.75% 24.75%;
  padding: 1rem 0;
  border-bottom: 0.4px solid rgba(151, 151, 151, 0.3);
  border-top: 0.4px solid rgba(151, 151, 151, 0.3);
}
.fecha-popup-wrapper .fecha-popup-cols-wrapper .fecha-popup-vline {
  width: 0.4px;
  margin: -1rem 0;
  background-color: #979797;
  opacity: 50%;
}
.fecha-popup-wrapper .fecha-popup-cols-wrapper .fecha-popup-col1,
.fecha-popup-wrapper .fecha-popup-cols-wrapper .fecha-popup-col3,
.fecha-popup-wrapper .fecha-popup-cols-wrapper .fecha-popup-col4,
.fecha-popup-wrapper .fecha-popup-cols-wrapper .fecha-popup-col5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.7rem;
}
.fecha-popup-wrapper .fecha-popup-cols-wrapper .fecha-popup-col1 .active,
.fecha-popup-wrapper .fecha-popup-cols-wrapper .fecha-popup-col3 .active,
.fecha-popup-wrapper .fecha-popup-cols-wrapper .fecha-popup-col4 .active,
.fecha-popup-wrapper .fecha-popup-cols-wrapper .fecha-popup-col5 .active {
  background-color: #4880FF;
  color: white;
}
.fecha-popup-wrapper .fecha-apply-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
}
.fecha-popup-wrapper .fecha-apply-button-wrapper button {
  color: white;
  background-color: #4880FF;
  width: 12rem;
  height: 2.5rem;
  border-radius: 15px;
  border: 1px solid #979797;
  font-family: Nunito;
  font-size: 16px;
}
.fecha-popup-wrapper .fecha-apply-button-wrapper button:hover {
  cursor: pointer;
  background-color: rgba(80, 132, 253, 0.8941176471);
  transition: 0.2s;
}
@media (max-width: 478px) {
  .fecha-popup-wrapper {
    width: 80%;
    height: 48%;
    top: 22%;
  }
}/*# sourceMappingURL=main.css.map */