* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}



@import './components/DataEntry/DataEntry';
@import './components/Setup/Setup';
@import './components/CostsEntry/CostsEntry';
@import './pages/Layout/Layout';
@import './pages/Layout/LayoutSide';
@import './components/LayoutSideOption/LayoutSideOption';
@import './pages/DataEntry/Platos';
@import './pages/Costs/Costs';
@import './pages/Informes/Informes';
@import './components/InformesCreation/InformesCreation';
@import './components/InformesResults/InformesResults';
