.costs-wrapper {
    border-top: 1px solid black;
    // margin-top: 9.1%;
    margin-top: 5%;
    margin-left: 10%;
    padding-left: 4rem;
    
    h2 {
        font-size: 40px;
    }

    .costs-add-button {
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 10px;
        border: 1px solid black;

    }
    .costs-add-button:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .costs-table-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 5%;
        }

        .costs-table {
            border: 1px solid black;
            border-collapse: collapse;
            thead, th, td {
                padding: 0.25rem;
                border: 1px solid black;
                text-align: center;
                button {
                    // padding: 1rem;
                    width: 5rem;
                    height: 2rem;
                    // margin: 1rem;
                    border-radius: 10px;
                    border: 1px solid black;   
                    padding: 0.5rem;     
                }
                button:hover {
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .costs-modal-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0,0.3);
    }
}