.navbar-wrapper {
    background-color: white;
    position: fixed;
    left: 14%;
    width: 86%;
    height: 10%;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 85% 15%;

    .nav-wrapper {
        grid-column: 2;
        height: 100%;
        // background-color: red;
        display: flex;

        .nav-profile {
            background-color: none;
            // border-radius: 50%;
            // width: 2rem;
            // height: 2rem; 
            // margin-left: 85%;
            // margin-top: 2rem;
            // border: 1px solid rgb(0,0,0,0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            // font-size: 120%;
            font-family: Arial, Helvetica, sans-serif;
        }
        p {
            // margin-left: 90%;
            // margin-bottom: 3rem;
        }
    
        .nav-arrow-div {
            width: 2%;
            position: absolute;
            top: 2rem;
            left: 93.5%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            padding-left: 2rem;
            .nav-arrow-svg {
                transition: 0.5s ease;
            }
        }
        
    }

}