.platos-wrapper {
    border: 1px solid black;
    margin-top: 9.1%;
    margin-left: 10%;
    padding-left: 4rem;
    
    .platos-add-button {
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 10px;
        border: 1px solid black;

    }
    .platos-add-button:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    h2 {
        font-size: 40px;
    }
}