@mixin button-blue {
    color: white;
    background-color: #4880FF;
    width: 12rem;
    height: 2.5rem;
    border-radius: 15px;
    border: 1px solid #979797;
    font-family: Nunito;
    font-size: 16px;

    &:hover {
        cursor: pointer;
        background-color: #5084fde4;
        transition: 0.2s;
    }
}




.platos-wrapper {
    border-top: 1px solid black;
    // margin-top: 9.1%;
    margin-top: 5%;
    margin-left: 14%;
    padding-left: 2rem;
    padding-top: 2rem;
    background-color: #F5F6FA;
    font-family: Nunito;
    padding-bottom: 4rem;

    h2 {
        font-size: 40px;
    }
    
    .platos-add-button {
        margin: 1rem;
        @include button-blue();

    }
    
    .platos-table-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            width: 5%;
        }

        

        .platos-table {
            border-radius: 10px !important;
            border: 0.4px solid #B9B9B9;
            border-collapse: separate;
            background-color: #FFFFFF;
            border-spacing: 0;

            thead {
                text-align: center;
                
                tr {
                    th {
                        font-family: 'Nunito';
                        font-weight: bold;
                        padding: 0.85rem 2rem;
                        border-bottom: 0.6px solid rgba(213, 213, 213, 0.616);
                    }
                }
            }
            
            tbody {
                background-color: #FFFFFF;
                tr {
                    td {
                        border: none;
                        border-bottom: 0.4px solid rgba(151, 151, 151, 0.467);
                        text-align: center;                        
                        padding: 0.85rem 2rem;

                        
                        .buttons-wrapper {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .delete-button, .update-button {
                                width: 30%;
                            }
                            
                            .delete-button:hover {
                                cursor: pointer;
                                fill: rgb(255,0,0);
                            }
                            
                            .update-button:hover {
                                cursor: pointer;
                                fill: gray;
                            }
                        }
                    }
                }
                tr:last-child {
                    td {
                        border-bottom: none;
                        border-radius: 10px !important;
                    }       
                }
            }


           

        }

    }

    .platos-options-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
        p {
            font-weight: bold;
        }

        .platos-options-buttons-wrapper {
            .prev-button {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                .prev-button-arrow {
                    rotate: 180deg;
                }
            }

            .next-button {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            button {
                border: 1px solid #979797;
                height: 3rem;
                width: 3rem;
            }

        }
    }


    .platos-modal-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0,0.3);
    }
}